<%= form_for(character) do |f| %>
  <% if character.errors.any? %>
    <div class="alert alert-warning">
      <h4><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h4>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :house_id %>
    <%= f.select(:house_id, House.all.map {|h| [h.name, h.id] }, {include_blank: 'Select a house'}, {:class => 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.label :biography %>
    <%= f.text_area :biography, :class => 'form-control', rows: "5" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control', rows: "5" %>
  </div>

  <div class="form-group">
    <%= f.label :personality %>
    <%= f.text_area :personality, :class => 'form-control', rows: "5" %>
  </div>

  <div class="form-group">
    <%= f.label :origin %>
    <%= f.text_field :origin, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :allegiance %>
    <%= f.text_field :allegiance, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :religion %>
    <%= f.text_field :religion, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :culture %>
    <%= f.text_field :culture, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :titles %>
    <%= f.text_field :titles, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :death %>
    <%= f.text_field :death, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :predecessor %>
    <%= f.text_field :predecessor, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :successor %>
    <%= f.text_field :successor, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :father %>
    <%= f.text_field :father, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :mother %>
    <%= f.text_field :mother, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :spouse %>
    <%= f.text_field :spouse, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :children %>
    <%= f.text_field :children, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :siblings %>
    <%= f.text_field :siblings, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lovers %>
    <%= f.text_field :lovers, :class => 'form-control' %>
  </div>

  <div class="row">
    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_1 %>
      <%= f.check_box :appears_in_season_1, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_2 %>
      <%= f.check_box :appears_in_season_2, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_3 %>
      <%= f.check_box :appears_in_season_3, :class => 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_4 %>
      <%= f.check_box :appears_in_season_4, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_5 %>
      <%= f.check_box :appears_in_season_5, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_6 %>
      <%= f.check_box :appears_in_season_6, :class => 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_7 %>
      <%= f.check_box :appears_in_season_7, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_8 %>
      <%= f.check_box :appears_in_season_8, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-4 col-lg-4 col-xs-12">
      <%= f.label :appears_in_season_9 %>
      <%= f.check_box :appears_in_season_9, :class => 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
